body{
    font-family: sans-serif;
    padding-left: 2em;
    font-size: 16px;
}

h2{
    margin-top: 2em;
}
h2:nth-of-type(2){
    font-size: 32px;
}

ul li li li:nth-child(2){
    color:black;
}
ul li li:nth-child(2) {
    color: #9F0B0B;
}
a[href^="http"]{
    color:#9F0B0B;
}

a{
    color: #39a2ff;
}
a[ href$=".pdf"]{
    color: #1b711c;
}
a[ href*="/comogusteis/"]{
    color: #ff9c08;
}

table{
    border-collapse: collapse;
    margin-bottom: 4em;
}

td{
    padding: .5em 1em;
    border: 1px solid whitesmoke;
}
tr:nth-child(even){
    background-color: #cfcfcf;
}
td:nth-child(3){
    background-color: #8c878e;
}